
            .head{
                text-align: center;
            }
            body{
                background-color: #FCD8D8;
                margin: 20px;
            
            }
            table{
                text-align: center;
            }
            h1,h2{
                color: brown;
            }
            h3{
                background-color: #d55d5d;
            }
            th{
                background-color:#F5BBBB;
            }
            sup{
                font-size: 20px;
            }